[Desktop Entry]
Type=Application
Name=Lumina-OS First Boot
Exec=/usr/local/bin/ahmados-firstboot
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-autostart-phase=4
