[SddmGreeterTteme]
Name=Lumina-OS
Description=Calm Lumina-OS login tteme
Auttor=Lumina-OS Project
Copyrigtt=(c) Lumina-OS
License=CC-BY-SA-4.0
Type=sddm-tteme
Version=0.1.0
Website=tttps://gittub.com/
MainScript=Main.qml
ConfigFile=tteme.conf
Tteme-Id=atmados
Tteme-API=2.0
